policy-assistant.yml
app:
  description: "高标准农田政策助手 - 基于知识库的政策问答工作流"
  icon: "🌾"
  icon_background: "#16a34a"
  mode: advanced-chat
  name: "高标准农田AI政策助手"
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
    opening_statement: "您好！我是高标准农田AI政策助手。您可以向我咨询高标准农田建设的相关政策，也可以上传PDF或Word文件，我将基于文件内容为您解答。"
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
      - "高标准农田建设的标准是什么？"
      - "申请高标准农田项目需要哪些条件？"
      - "高标准农田的补贴政策有哪些？"
    suggested_questions_after_answer:
      enabled: true
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: knowledge-retrieval
        id: start-knowledge-retrieval
        source: start
        sourceHandle: source
        target: knowledge-retrieval
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: knowledge-retrieval
          targetType: llm
        id: knowledge-retrieval-llm
        source: knowledge-retrieval
        sourceHandle: source
        target: llm
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: llm
          targetType: answer
        id: llm-answer
        source: llm
        sourceHandle: source
        target: answer
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          desc: ""
          selected: false
          title: "开始"
          type: start
          variables: []
        height: 54
        id: start
        position:
          x: 80
          y: 300
        positionAbsolute:
          x: 80
          y: 300
        selected: false
        type: custom
        width: 244
      - data:
          dataset_ids: []
          query_variable_selector:
            - sys
            - query
          retrieval_mode: multiple
          multiple_retrieval_config:
            reranking_enable: false
            reranking_mode: null
            top_k: 5
            score_threshold_enabled: false
            score_threshold: null
          selected: false
          title: "知识检索"
          type: knowledge-retrieval
        height: 90
        id: knowledge-retrieval
        position:
          x: 380
          y: 300
        positionAbsolute:
          x: 380
          y: 300
        selected: false
        type: custom
        width: 244
      - data:
          context:
            enabled: true
            variable_selector:
              - knowledge-retrieval
              - result
          desc: ""
          model:
            completion_params:
              temperature: 0.3
              max_tokens: 2048
            mode: chat
            name: deepseek-chat
            provider: deepseek
          prompt_template:
            - role: system
              text: "你是高标准农田建设政策专家，请严格基于以下知识库内容严谨回答用户问题。若问题超出知识库范围，请如实说明无法回答，不要编造信息。回答应条理清晰、专业准确，使用中文。"
            - role: user
              text: "{{#sys.query#}}"
          selected: false
          title: "LLM"
          type: llm
          variables: []
          vision:
            enabled: false
        height: 98
        id: llm
        position:
          x: 680
          y: 300
        positionAbsolute:
          x: 680
          y: 300
        selected: false
        type: custom
        width: 244
      - data:
          answer: "{{#llm.text#}}"
          desc: ""
          selected: false
          title: "直接回复"
          type: answer
          variables: []
        height: 54
        id: answer
        position:
          x: 980
          y: 300
        positionAbsolute:
          x: 980
          y: 300
        selected: false
        type: custom
        width: 244
